{extends "../@layout.latte"}
{block content}

<div class="in"><table class="list">
        <tr><th>id</th><th>kód</th><th>hodnota</th><th>popis</th><th>platnosť</th>
            <th>&nbsp;</th></tr>


        {foreach $list as $PK}
            {var $rowClass = ["listrow"]}
            {if !$PK->aktivny()}
                {php $rowClass[] = 'disabledrow'}
            {/if}

            {varType \Voucher $PK}
            <tr class="{$rowClass|join:' '}">
                <td class="id">{$PK->id}</td>
                <td class="b">{$PK->kod}</td>
                <td class="" align="right">{$PK->suma} €</td>
                <td class="comment">{$PK->popis}
                    {if $PK->objednavka->id > 0}
                        uplatnené pri objednávke <a href="mod.objednavky.php?action=view&id={$PK->objednavka->id}">{$PK->objednavka->cislo}</a>
                    {/if}
                    </td>
                <td class="small">{$PK->platnost_od->show('d.m.Y')}<br>{$PK->platnost_do->show('d.m.Y')}</td>
                <td class="btn"><a href="mod.darcekovepoukazky.php?action=edit&id={$PK->id}"><img src="img/16/follow.png"></a></td>
            </tr>

        {/foreach}
        </table>
</div>

