{extends "../@layout.latte"}
{block content}

<form id="mainform" method="POST" action="mod.darcekovepoukazky.php">
    <input type="hidden" name="action" value="save">
    <input type="hidden" name="id" value="{$voucher_id}">
    <div class="in">
        <table class="form">
            <tr><td>{\LangStr('kód:')|noescape}</td><td>{\Input('text','kod',$PK->kod)->width(400)|noescape}</td></tr>
            <tr><td>{\LangStr('popis:')|noescape}</td><td>{\Input('text','popis',$PK->popis)->width(400)|noescape}</td></tr>
            <tr><td>{\LangStr('platnosť od:')|noescape}</td><td>{\Input('text','platnost_od',$PK->platnost_od->show('d.m.Y'))->cssClass('textinput dateinput')->width(80)|noescape}</td></tr>
            <tr><td>{\LangStr('platnosť do:')|noescape}</td><td>{\Input('text','platnost_do',$PK->platnost_do->show('d.m.Y'))->cssClass('textinput dateinput')->width(80)|noescape}</td></tr>
            <tr><td>{\LangStr('aktívny:')|noescape}</td><td>{\Input('checkbox','aktivny',$PK->aktivny)|noescape}</td></tr>
            <tr><td>{\LangStr('suma v €:')|noescape}</td><td>{\Input('text','suma',$PK->suma)->width(80)|noescape}</td></tr>
            <tr><td>{\LangStr('pri objednávke nad €:')|noescape}</td><td>{\Input('text','suma_od',$PK->suma_od)->width(80)|noescape}</td></tr>

            {if !$PK->odoslane}
                <tr><td></td><td></td></tr>
                <tr n:if="$PK->suma > 0 and $PK->kod !=''"><td colspan="2"><a href="{$url}" target="_blank"><img src="{$url}" width="300" style="max-width:100%;"></a></td></tr>
            {else}
                <tr><td></td><td></td></tr>
                {*}<tr><td>{\LangStr('Odoslať na e-mail:')|noescape}</td><td>{\Input('text','email',"")->width(250)|noescape}</td></tr>*}
                <tr n:if="$PK->suma > 0 and $PK->kod !=''"><td colspan="2"><a href="{$url}" target="_blank">Vygenerovať poukážku pre tlač</a><br><br><img src="{$url}" width="300" style="max-width:100%;"></td></tr>
            {/if}
        </table>
    </div>
</form>