{extends "../@layout.latte"}
{block content}

<form id="mainform" method="POST" action="mod.darcekovepoukazky.php">
    <input type="hidden" name="action" value="generateSave">
    <div class="in">
        <table class="form">
            <tr><td>{\LangStr('Počet generovaných kódov:')|noescape}</td><td>{\Input('text','pocet', 10)->width(80)|noescape}</td></tr>
            <tr><td>{\LangStr('Prefix:')|noescape}</td><td>{\Input('text','prefix')->width(400)|noescape}</td></tr>
            <tr><td>{\LangStr('Platnosť do:')|noescape}</td><td>{\Input('text','platnost_do',$platnost->format("d.m.Y"))->cssClass('textinput dateinput')->width(80)|noescape}</td></tr>
            <tr><td>{\LangStr('Suma v €:')|noescape}</td><td>{\Input('text','suma')->width(80)|noescape}</td></tr>
            <tr><td>{\LangStr('Pri objednávke nad €:')|noescape}</td><td>{\Input('text','suma_od')->width(80)|noescape}</td></tr>
        </table>
    </div>
</form>