    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>eCommerce</title>
    {*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">*}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    {var $css = [
    "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css",
    ... $manager->getCss(),
    "js/fancybox/jquery.fancybox-1.3.1.css",
    "js/colorpicker/css/colorpicker.css",
    "js/datepicker/css/datepicker.css",
    "../../assets/plugins/select2/dist/css/select2.min.css"
    ]}
    {minifycss $css}
    <link rel="stylesheet" type="text/css" href="{$manager->getPrintCss()}" media="print">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {*<script  src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>*}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-form@4.3.0/dist/jquery.form.min.js"></script>
    <script type="text/javascript" src="js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="js/ckeditor/adapters/jquery.js"></script>

    {var $js = [
    "js/jquery.pngfix.pack.js",
    "js/fancybox/jquery.easing-1.3.pack.js",
    "js/fancybox/jquery.mousewheel-3.0.2.pack.js",
    "js/jquery.urlencode.js",
    "js/colorpicker/js/colorpicker.js",
    \Kubomikita\FormFactory::js(),
    "js/datepicker/js/datepicker.js",
    "js/datepicker/load.js",
    "../../assets/plugins/select2/dist/js/select2.min.js",
    ... $manager->getJs(),
    "js/init.js",
    ]}{*"js/jquery.form.js",*}
    {minifyjs $js}
