{default $bodyclass = 'basic'}
<!DOCTYPE html>
<html lang="sk">
<head>
    {include "@head.latte"}
{*
"js/fancybox/jquery.fancybox-1.3.1.pack.js",
    <script  src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/jquery.pngfix.pack.js"></script>
    <script type="text/javascript" src="js/fancybox/jquery.easing-1.3.pack.js"></script>
    <script type="text/javascript" src="js/fancybox/jquery.mousewheel-3.0.2.pack.js"></script>
    <script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
    <script type="text/javascript" src="js/jquery.urlencode.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/colorpicker/js/colorpicker.js"></script>
    <script type="text/javascript" src="js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="js/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="js/datepicker/js/datepicker.js"></script>
    <script type="text/javascript" src="js/datepicker/load.js"></script>
    <script src="../../assets/plugins/select2/dist/js/select2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/init.js?v=1.1"></script>*}



</head>
<body class="{$bodyclass}">

<div class="before-top">
<div class="container px-0 px-lg-3">
    <div id="top">
        {include @menu.latte}
        {*\Content::MenuPrint()|noescape*}
    </div>
 </div>
</div>

{*php dump(get_defined_vars())*}



{\Content::$before}
<div id="container" class="container">
    <div class="alert-danger alert noprint" n:if="count($manager->getWarnings()) > 0" n:inner-foreach="$manager->getWarnings() as $warning">
        <div style="font-size: 14px"><i class="fas fa-exclamation-triangle"></i> {$warning|noescape}</div>
    </div>
    <div n:if="\Content::$titleIcon!='' || \Content::$titleText!=''" id="title" class="{(\Content::$titleNoPrint?'noprint':'')}"><img n:if="\Content::$titleIcon !== null" src="{\Content::$titleIcon}" class="noprint">{\Content::$titleText|noescape}</div>
    {\Flash::display()|noescape}

    {*if \Content::$Leftbox !== null*}
    {*php dump($controller)*}
    {capture $leftBox}
        {*\Content::$leftboxWidth*}
        <div id="leftbox" style="float: none;width:auto;"  {*style="width: {\Content::$leftboxWidth}px;"*}>
            {\Content::tabsControl()|noescape}
            {\Content::$Leftbox|replace:"&nbsp;"," "|noescape}
            {block #leftbox}

            {/block}
        </div>

    {/capture}
    <div class="row no-gutters">
        {var $hasLeftBox = strlen(Nette\Utils\Strings::normalize(strip_tags($leftBox))) > 0}
        {var $leftBoxClass = \Content::$leftboxWidth > 400 ? 'col-lg-auto' : 'col-lg-3'}
        {var $mainBoxClass = \Content::$leftboxWidth > 400 ? 'col-lg' : 'col-lg-9'}
        <div class="{$leftBoxClass}" n:if="$hasLeftBox">{$leftBox}</div>
        <div n:class="$hasLeftBox ? $mainBoxClass : 'col-lg-12'">
            <div id="mainbox" style="float: none;width:auto;min-width: auto;margin: 0 0.65rem;" {*style="width: {(\Content::$totalWidth-\Content::$leftboxWidth)}px;"*}>
                <div class="in">
                    {\Content::$Mainbox|noescape}
                    {var $activeTab = \Content::activeTab()}
                    {*\Content::tabsContent()}
                    {\Content::tabsContent(true)*}
                    {var $tabContent = $controller->tabsControl()}
                    {*php dump($tabContent,$activeTab)*}
                    <div n:if="!empty($tabContent)" n:foreach="$tabContent as $id => $content" class="tabcontent {if $activeTab === $id}tabcontent_active{/if}" id="maintab_{$id}">{$content|noescape}</div>

                    {*$tabContent|implode:''|noescape*}

                    <div n:tag-if="!empty($tabContent)" class="tabcontent {if $activeTab === 'default'}tabcontent_active{/if}" id="maintab_default">
                    {block #content}

                    {/block}
                    </div>
                    {*php dump($controller, get_defined_vars())*}
                    {ifset $ui["ButtonsBar"]}
                        {\UI::ButtonsBar($ui["ButtonsBar"])|noescape}
                    {/ifset}
                </div>
            </div>
        </div>
    </div>



    {\Content::$after}
    <div class="cleaner"></div>
    <div class="footer text-center">
        &copy; {date("Y")} {$parameters["shop"]["name"]}<br>
        <span class="noprint">{$manager->formatName()} | {if ($releaseDate = $manager->releaseDate()) !== null}Release: {$releaseDate} |{/if} Attentively and carefully made by @JakubMikita.</span>
    </div>
</div>
{*php dump(\Kubomikita\Service::get('container')->getParameter('shop', 'email'), \Kubomikita\Service::getByType(\Nette\DI\Container::class)->getParameters()['shop']['email'])*}

{block scripts}


</body>
</html>