

{*<div id="logobutton" class="hoverable"></div>*}




<div class="row no-gutters">
    <div class="col-auto mr-2">
        <div class="commerce-tab">
            <span class="d-none d-md-block">{$manager->formatName(false)}</span>
            <span class="d-block d-md-none"><i class="fas fa-cogs"></i></span>
        </div>
        <div id="startmenu"><div class="in">{$menu->renderStartmenu()|noescape}</div></div>
    </div>
    <div class="col-9 col-lg">
        {$menu->renderRibbonTop()}
        {*<div id="ribbon"><div class="in">{$menu->renderRibbon()|noescape}</div></div>*}
    </div>
    <div class="d-none d-md-block col-lg-auto  ml-lg-auto">
        <div class="commerce-brand">{$parameters["shop"]["name"]}</div>
    </div>
    <div class="col-auto ml-auto">
        {*<div id="logout" class="hoverable" onclick="location.href={$logoutUrl};"></div>*}
        <a href="{$logoutUrl}" class="commerce-logout"><i class="fas fa-times"></i></a>
    </div>
    <div class="col-12">
        {$menu->renderRibbonBottom()}
    </div>

</div>

<style>

</style>