{extends "../@layout.latte"}
{block content}
    <table class="list">
        <tr>
            <th>Názov galérie</th>
            <th>Popis</th>
            <th></th>
        </tr>

        
        <tr class="listrow" n:foreach="$q as $r">
            {var $h = new \CmsGalleryModel($r)}
            <td>{$h->nazov}</td>
            <td>{$h->popis}</td>
            <td class="ar">
                <a href="mod.rs.images.php?action=edit&id={$h->id}&tab=images"><img src="img/zoom.png"></a>
                <a n:if="$h->id != 1" href="mod.rs.images.php?action=delete&id={$h->id}"><img src="img/delete.png"></a>
            </td>
        </tr>


    </table>
</div>
