{extends "../@layout.latte"}
{block content}


<form id="edit_form" method="post"><table class="form">
            <input type="hidden" name="action" value="save">
            <input type="hidden" name="id" value="{$r->id}">
            <tr><td>Názov</td><td>{Input("text","nazov",$r->nazov)|noescape}</td></tr>
            <tr><td>Popis</td><td>{Input("textarea","popis",$r->popis)|noescape}</td></tr>

            </table>
        </form>