
    {var $T = $r}

    <div class="ibox" n:foreach="$r->images() as $I">

        <div n:if="\Config::Customization('release1')" class="image"><img src="{$I->resizedCachedUrl('fit','150','150','#ffffff')}" onclick="window.parent.$.fancybox.open({ src: {$I->url()}}, $.extend({ },fancyboxDefaults,{ type:'image', hideOnContentClick : true}));" style="cursor: pointer;"></div>
        <div n:if="!\Config::Customization('release1')"class="image"><img src="{$I->resizedCachedUrl('fit','150','150','#ffffff')}"></div>

        <div class="title">{$I->id}</div>
        <div class="buttons">
            <a n:if="$I->movableUp() && $acl" href="mod.rs.images.php?action=images_move_top&id={$I->id}"><img src="img/move_top.gif"></a><a href="mod.rs.images.php?action=images_move_up&id={$I->id}"><img src="img/move_up.gif"></a>
            <a n:if="$I->movableDown() && $acl" href="mod.rs.images.php?action=images_move_down&id={$I->id}"><img src="img/move_down.gif"></a><a href="mod.rs.images.php?action=images_move_bottom&id={$I->id}"><img src="img/move_bottom.gif"></a>
            <a n:if="$acl" href="mod.rs.images.php?action=images_delete&id={$I->id}&t_id={$T->id}"><img src="img/delete.png"></a>
        </div>

        <div class="buttons2"><a href="mod.rs.images.php?action=image_edit&id={$I->id}"><img src="img/zoom.png"></a></div>
            
    </div>


    <div class="cleaner"></div>

        
    <div n:if="$acl" class="formbox" style="margin: 10px;">
        <form method="post" action="mod.rs.images.php" enctype="multipart/form-data" accept="image/jpeg">
            <input type="hidden" name="MAX_FILE_SIZE" value="2048000">
            <input type="hidden" name="t_id" value="{$T->id}">
            <input type="hidden" name="action" value="images_upload">
            pridať obrázok (max. veľkost 2MB): <input name="imagefile" id="imagefile" type="file" >
            &nbsp;&nbsp;<input type="submit" value="Nahrať" >
        </form>
    </div>
        




