{extends "../@layout.latte"}
{block content}
    {varType \CmsGalleryImgModel $i}
<h3>Úprava obrázka</h3>
<form id="edit_form" method="post">
    <table class="form">
        <input type="hidden" name="action" value="image_save">
        <input type="hidden" name="id" value="{$i->id}">
        <tr>
            <td>Názov</td>
            <td>{Input("text","nazov",$i->meno)|noescape}</td>
        </tr>
        <tr>
            <td>Podnadpis</td>
            <td>{Input("textarea","podnadpis",$i->podnadpis)|noescape}</td>
        </tr>
        <tr>
            <td>Odkaz</td>
            <td>{Input("text","odkaz",$i->odkaz)|noescape}</td>
        </tr>
        <tr>
            <td>Popis</td>
            <td>{Input("textarea","popis",$i->popis)|noescape}</td>
        </tr>

    </table>
</form>
{/block}
{block leftbox}
<div class="">
    <img src="{$i->cachedUrl()}" class="img-fluid">
    {var $imageSize = getimagesize("../../".$i->binUrl())}
    <div n:if="!empty($imageSize)" class="mt-2 px-2">
        mime: <strong>{$imageSize["mime"]}</strong> <br>
    original width: <strong>{$imageSize[0]}px</strong> <br>
        original height: <strong>{$imageSize[1]}px</strong>
    </div>
    &nbsp;
</div>
