body {
	background: #ebf4fd;
	font-family: segoe ui,tahoma,arial,helvetica;
	color: #000c63;
	font-size: 9pt;
	border: 0px;
	margin: 0px;
}

body.iframe {
	font-family: segoe ui,tahoma,arial,helvetica;
	background: #ffffff;
}

.cleaner {
	clear: both;
}

img {
	border: none;
}

#top {
	position: relative;
	height: 128px;
	margin-bottom: 4px;
	font-size: 8pt;
	background: url(../../img/top_bk.jpg) repeat-x;
}

#logout {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 54px;
	height: 30px;
	background: url(../../img/logout_std.jpg) no-repeat top left;
	cursor: pointer;
}
#logout.hover {
	background: url(../../img/logout_hover.jpg) no-repeat top left;
}

#branding {
	position: absolute;
	right: 70px;
	top: 2px;
	font-size: 16px;
	font-weight: bold;
	color: #BAC9DE;
	text-align: right;
	width: 150px;
}

#ribbon {
	position: absolute;
	left: 0px;
	top: 0px;
}
#ribbon .in {
	position: relative;
}

#ribbon .r_header {
	position: absolute;
	left: 200px;
	top: 9px;
	width: 800px;
}

#ribbon .r_top {
	float: left;
	margin-right: 2px;
	cursor: pointer;
}

#ribbon .r_top .inner2 {
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#ribbon .rh_top {
	background: url(../../img/ribbontab-hc.jpg) top left repeat-x;
}
#ribbon .rh_top .inner1 {
	background: url(../../img/ribbontab-hl.jpg) top left no-repeat;
}
#ribbon .rh_top .inner2 {
	background: url(../../img/ribbontab-hr.jpg) top right no-repeat;
}
#ribbon .ra_top {
	background: url(../../img/ribbontab-tc.jpg) top left repeat-x;
}
#ribbon .ra_top .inner1 {
	background: url(../../img/ribbontab-tl.jpg) top left no-repeat;
}
#ribbon .ra_top .inner2 {
	background: url(../../img/ribbontab-tr.jpg) top right no-repeat;
}
#ribbon .r_ribbonbar {
	position: absolute;
	left: 2px;
	top: 34px;
}
#ribbon .r_ribbonbar .in {
	position: relative;
}

#ribbon .r_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	width: 1280px;
}
#ribbon .r_bar_active {
	display:block;
}
#ribbon .r_grp {
	float: left;
	height: 86px;
	padding-left: 2px;
	padding-right: 9px;
	background: url(../../img/ribbonsep.jpg) top right no-repeat;
}

#ribbon .r_grp .rg_buttons {
	height: 70px;
}

#ribbon .r_grp .rg_title {
	font-size: 8pt;
	color: #9EAFC1;
	text-align: center;
}

#ribbon .rb_static {
	height: 70px;
	float: left;
}

#ribbon .ribbonbutton {
	cursor: pointer;
	padding: 1px;
}

#ribbon .ribbonbutton_hover {
	border: 1px solid #FFCC00;
	padding: 0px;
	background: #FFF7D9;
}

#ribbon .rb_large {
	float: left;
	height: 70px;
	text-align: center;
}
#ribbon .rb_large .rbb_img {
	height: 32px;
	margin-top: 2px;
	margin-bottom: 2px;
}
#ribbon .rb_large .rbb_img img {
	width: 32px;
	height: 32px;
}
#ribbon .rb_large .rbb_txt {
	font-size: 8pt;
}

#ribbon .rb_small {
	float: left;
	height: 16px;
	text-align: left;
	margin-top: 5px;
}
#ribbon .rb_small .rbb_img {
	width: 16px;
	margin-right: 4px;
	float: left;
}
#ribbon .rb_small .rbb_img img {
	width: 16px;
	height: 16px;
}
#ribbon .rb_small .rbb_txt {
	font-size: 8pt;
	float: left;
	margin-right: 4px;
}
#ribbon .rg_buttonbox {
	float: left;
}
#ribbon .rg_buttonbox .rb_small {
	float: none;
}
#logobutton {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 192px;
	height: 30px;
	background: url(../../img/toplogo.jpg?v=1) no-repeat top left;
	cursor: pointer;
}
#logobutton.hover {
	background: url(../../img/toplogo_hover.jpg?v=1) no-repeat top left;
}
#startmenu {
	position: absolute;
	left: 16px;
	top: 25px;
	padding: 5px;
	background: url(../../img/alpha50.png);
	z-index: 1000;
	display: none;
}
#startmenu .in {
	border: 1px solid #9EAFC1;
	background: #ffffff;
	padding: 2px;
}

.lngswitch a {
	margin-right: 6px;
	padding: 3px;
	display: inline-block;
	border: 1px solid #dde9f7;
}
.lngswitch a:hover {
	border: 1px solid #FFCC00;
	background: #FFF7D9;
}

#leftbox {
	margin-left: 8px;
	width: 300px;
	float: left;

}

#leftbox .in {
	padding-right: 8px;
}

#mainbox {
	width: 680px;
	x-margin-left: 8px;
	float: left;
	border: 1px solid #9EAFC1;
	background: #ffffff;
	margin-bottom: 15px;
}
#mainbox .in , .iframe .in {
	padding: 4px;
	padding-bottom: 10px;
}

.tabcontrol {
	height: 35px;
	line-height: 35px;
	font-size: 9pt;
	padding-left: 20px;
	border-left: 1px solid #9EAFC1;
	border-top: 1px solid #9EAFC1;
	border-bottom: 1px solid #9EAFC1;
	margin-bottom: 3px;
	cursor: pointer;
	font-weight: bold;
}

.tabcontrol_hover {
	background: #ffffff;
}

.tabcontrol_active {
	background: url(../../img/activetab.jpg) top right no-repeat;
	border-color: #EBF4FD;
	color: #ffffff;
	position: relative;
}

.tabcontent {
	display: none;
}
.tabcontent_active {
	display: block;
}
.tabcontrol .rb {
	display: none;
}
.tabcontrol_active .rb {
	display: block;
	position: absolute;
	right: -1px;
	top: 8px;
	width: 1px;
	height: 19px;
	border-right: 1px solid #ffffff;
}

#leftbox p {
	margin: 4px;
}
#mainbox p {
	margin: 5px;
}

#title {
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	color: #064A9F;
	font-weight: bold;
	margin-left: 8px;
	margin-bottom: 6px;
	position: relative;
	padding-left: 45px;
}
#title img {
	width: 32px;
	height: 32px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#startmenu .button a {
	display: block;
	position: relative;
	margin-top: 4px;
	padding-left: 24px;
	height: 20px;
	line-height: 20px;
	text-decoration: none;
	color: #000c63;
	border: 1px solid #dde9f7;
}

#startmenu .button a:hover {
	border: 1px solid #FFCC00;
	background: #FFF7D9;
}

#startmenu .button a img {
	position: absolute;
	left: 2px;
	top: 2px;
}

table.form {
	width: 100%;
}

table.form td {
	border-bottom: 1px dotted #EBF4FD;
}
.head {
	font-size: 11pt;
	color: #064A9F;

}

table.form td.head {
	font-size: 11pt;
	font-weight: bold;
	color: #064A9F;

}
table.form tr.success td {background:#dff0d8;padding:3px;}
table.form tr.info td {background:#d9edf7;padding:3px;}
table.form tr.warning td {background:#fcf8e3;padding:3px;}
table.form tr.danger td {background:#f2dede;padding:3px;}
table.form tr.danger td .textinput {background: #fff7f7;border:1px solid #ebccd1;color:#a94442;}

.textinput {
	border: 1px solid #C2D1E6;
	font-family: segoe ui,tahoma,arial,helvetica;
	color: #000c63;
	font-size: 9pt;
	padding: 1px;
	margin-bottom: 2px;
}

#leftbox .button {
	margin-bottom: 3px;
	margin-top: 2px;
	padding-right: 10px;
	position: relative;
}

#leftbox .button a {
	display: block;
	position: relative;
	border: 1px solid #9EAFC1;
	height: 35px;
	line-height: 35px;
	font-size: 9pt;
	cursor: pointer;
	font-weight: 600;
	color: #5C7890;
	padding-left: 44px;
	text-decoration: none;
	background: #F5FAFF;
}
#leftbox .button a:hover {
	border: 1px solid #FFCC00;
	background: #FFF7D9;
}
#leftbox .button a img {
	position: absolute;
	left: 4px;
	top: 2px;

}

#leftbox .button .confirm {
	position: absolute;
	right: 17px;
	top: 7px;
	display: none;
}
#leftbox .button .confirm a {
	border: none;
	height: 24px;
	width: 24px;
	background: url(../../img/red_ok.png);
	line-height: 24px;
	padding-left: 0px;
}
#leftbox .button .confirm a:hover {
	border: none;
}

table.list {
	width: 100%;
	border-spacing: 0px;
}

table.list th {
	color: #064A9F;
	border-bottom: 2px solid #064A9F;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: left;
}



table.smalllist th {
	font-size: 8pt;
	xborder-bottom: 1px solid #064A9F;
	border-bottom: 1px dotted #9EAFC1;
	font-weight: 400;
}

table.smalllist td {
	font-weight: 600;
}

table.list .listrow td {
	padding: 2px;
	height: 25px;
	border-bottom: 1px dotted #9EAFC1;
}

table.smalllist .listrow td {
	padding: 2px;
	font-size: 8pt;
	height: 20px;
	border-bottom: 1px dotted #9EAFC1;
}



table.list .multirow1 td {
	padding: 2px;
	border-bottom: none;
}
table.list .multirow2 td {
	padding: 2px;
	border-bottom: 1px dotted #9EAFC1;
}

table.slist .multirow2 td {
	padding: 2px;
	height: 25px;
	border-bottom: 2px solid #9EAFC1;
}

table.smalllist .listrow td {
	border-bottom: 1px dotted #9EAFC1;
}

table.list .listrow_std {

}

table.list .listrow_hov {
	background: #F5FAFF;
}

table.list .activerow {
	cursor: pointer;
}

table.smalllist td .textinput {
	font-size: 8pt;
}

table.list .id {
	font-size: 7pt;
}

table.list .b {
	font-weight: bold;
}

table.list .gray {
	color: #A7ABC1;
}

table.list .btn {
	text-align: right;
}
table.list .comment {
	font-size: 8pt;
}
table.list .small {
	font-size: 7pt;
}

table.list .hr {

}

div.fline {
	border-bottom: 1px dotted #EBF4FD;
	padding: 1px;
}

iframe {
	border: none;
}

.langstr_input .languages , .langtxt_input .languages {
	background: url(../../img/inputborder.jpg) top left repeat-x;
}

.langstr_input .ilng_btn , .langtxt_input .ilng_btn {
	cursor: pointer;
	width: 32px;
	text-align: center;
	margin-right: 4px;
	float: left;
	background: url(../../img/lngtab_std.png) no-repeat;
}
.langstr_input .ilng_btn_active , .langtxt_input .ilng_btn_active {
	background: url(../../img/lngtab_active.png) no-repeat;
}

.langstr_input .inputs , .langtxt_input .inputs {
	border-top: 1px solid #C2D1E6;
	border-left: 1px solid #C2D1E6;
	border-right: 1px solid #C2D1E6;
}
.langstr_input .inputs input , .langtxt_input .inputs textarea {
	border: none;
	margin-bottom: 0px;
}

.buttonbar {
	padding: 4px;
}
.buttonbar .button {
	float: left;
	margin-right: 6px;
	background: url(../../img/mainbtn_l.jpg) top left no-repeat;
	cursor: pointer;
}

.buttonbar .button div {
	position: relative;
	background: url(../../img/mainbtn_r.jpg) top right no-repeat;
	height: 43px;
	padding-left: 50px;
	line-height: 43px;
	color: #5C789D;
	font-weight: bold;
}
.buttonbar .button div img {
	position: absolute;
	top: 6px;
	left: 8px;
}
.buttonbar .button_hov {
	background: url(../../img/mainbtn_hl.jpg) top left no-repeat;
}
.buttonbar .button_hov div {
	background: url(../../img/mainbtn_hr.jpg) top right no-repeat;
}

span.partner_tag {
	background: #000c63;
	color: #ffffff;
	font-weight: bold;
	font-size: 7pt;
	padding-left: 2px;
	padding-right: 2px;
}

span.promo_tag {
	background: #DC6A04;
	color: #ffffff;
	font-weight: bold;
	font-size: 7pt;
	padding-left: 2px;
	padding-right: 2px;
}

.ptag {
	float: left;
	width: 150px;
}
.ptag2 {
	float: left;
	width: 180px;
}

.x16 {
	width: 16px;
	height: 16px;
}

#leftbox .formbox , .formbox {
	padding: 6px;
	border: 1px solid #9EAFC1;
	background: #FFF7D9;
	margin-bottom: 3px;
	margin-top: 2px;
	margin-right: 10px;
}

.ibox {
	width: 100px;
	height: 100px;
	border: 1px solid #cccccc;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
	position: relative;
	x-cursor: pointer;
}
body.basic a , body.basic a:link , body.basic a:hover , body.basic a:visited {
	color: #000000;
}
.ibox_hover {
	border: 1px solid #CCCCFF;
	background: #EAEAFF;
}
.ibox .title {
	position: absolute;
	left: 0px;
	bottom: 0px;
	font-size: 8pt;
	width: 100px;
	text-shadow: #ffffff 0px 0px 2px;
}

.ibox .buttons {
	position: absolute;
	right: 2px;
	top: 2px;
}
.ibox .buttons2 {
	position: absolute;
	right: 2px;
	bottom: 0px;
}

.ibox .icon {
	position: absolute;
	left: 34px;
	top: 34px;
	width: 32px;
	height: 32px;
}
.ibox .image {
	position: absolute;
	left: 5px;
	top: 5px;
	width: 90px;
	height: 90px;
}
.dialogtitle , .foldertitle {
	font-size: 12pt;
	font-weight: bold;
	padding-left: 10px;
	background: #0099FF;
	color: white;
	line-height: 20px;
	margin-bottom: 8px;
	text-align: left;
}

.formbox .title {
	font-weight: bold;
	font-size: 8pt;
	color: #064A9F;
}

.inputbox {
	padding: 1px;
}

.variantbox {

}
.variantbox .v {
	font-size: 7pt;
}

.ar {
	text-align: right;
}
.lpad {
	padding-left: 20px;
}
.small {
	font-size: 7pt;
}

h2 {
	color: #064A9F;
	margin-bottom: 2px;
	margin-top: 4px;
}

.itabs {
	position: relative;
	padding-top: 22px;
}
.itabs .itab {
	border: 2px solid #C2D1E6;
	padding-top: 4px;
}
.itabs .itabcontrol {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 20px;
}
.itabs .itabcontrol a {
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 5px;
	float: left;
	display: block;
	border: 1px solid #C2D1E6;
	border-bottom: 1px solid #C2D1E6;
	color: #8498BA;
	text-decoration: none;
	height: 20px;
	line-height: 20px;
	margin-top: 1px;
}
.itabs .itabcontrol a.active {
	border: 2px solid #C2D1E6;
	margin-top: 0px;
	border-bottom: 2px solid #ffffff;
	font-weight: bold;
}
h6 {
	margin: 0px;
	padding: 0px;
	font-size: 9pt;
	font-weight: normal;
}
.disabledrow {
	opacity: 0.50;
	filter: alpha(opacity=50);
}
.unactiverow {
	opacity: 0.70;
	filter: alpha(opacity=70);
	color:red!important;;
}
.highlightedrow {
	background: #D0E6FE;
}
a.base:link , a.base:visited , a.base:active , body.basic a.base:link , body.basic a.base:visited , body.basic a.base:active {
	text-decoration: none;
	color: #000C63;
}
a.base:hover , body.basic a.base:hover {
	text-decoration: underline;
	color: #064A9F;
}

.pager {
	line-height: 16px;
	height: 16px;
	text-align: center;
	color: #064A9F;
	font-size: 10pt;
	margin: 4px;
}

body.basic .pager a , .pager a:link , body.basic .pager a:visited , body.basic .pager a:active, .pager a , .pager a:link , .pager a:visited , .pager a:active {
	color: #064A9F;
	font-size: 10pt;
	text-decoration: none;
}

.pager .p_active {
	font-weight: bold;
}

.pager a:hover , body.basic .pager a:hover{
	text-decoration: underline;
}

.iframe h1 {
	font-family: calibri,tahoma,arial;
	font-size: 16pt;
	color: #0B6096;
	margin-top: 0px;
	border-bottom: 2px solid #0B6096;
}

.iframe h2 {
	font-family: calibri,tahoma,arial;
	font-size: 13pt;
	color: #0B6096;
	margin-top: 0px;
	padding: 0px;

}
.total {
	font-size: 10pt;
	color: #DF0000;
}
.smalltotal {
	font-size: 9pt;
}
.total .small {
	font-size: 8pt;
}
.total .large {
	font-size: 13pt;
}
.total_overline {
	border-top: 2px solid #DF0000;
}
h3 {
	font-size: 10pt;
	color: #0B6096;
	margin-top: 0px;
	border-bottom: 2px solid #0B6096;
}
h3.objh3 {
	border-bottom: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
table.ts {
	border-top: 2px solid #0B6096;
	color: black;
	font-size: 8pt;

}
div.ts {
	border-top: 2px solid #0B6096;
}
div.ts1 {
	border-top: 1px solid #0B6096;
}
.b {
	font-weight: bold;
}
table.list th.ac {
	text-align: center;
}
table.list th.ar {
	text-align: right;
}
.print {
	display: none;
}
.dl_on , .split_on {
	display: none;
}
.smalltotal {
	font-size: 10pt;
}
table.list th a:link , table.list th a:visited {
	color: #064A9F;
	text-decoration: none;
}
table.list th a:hover {
	text-decoration: underline;
}

.helpbox {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: absolute;
	left: 20px;
	top: 10px;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
	width: 170px;
	background: #FAF790;
	border: 1px solid #795E05;
	font-size: 8pt;
	color: #000000;
	padding: 5px;
	display: none;
	font-weight: 500;
}
.helpbutton {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../../img/help_16.png) top left no-repeat;
	position: relative;
	cursor: pointer;
}
.collapsedrow {
	display: none;
}

.bx {
	font-weight: bold;
}

.psc , .sms {
	color: #0000cf;
	cursor: pointer;
}

.sklad_list_text {
	font-weight: 300;
}
.sklad_list_input {
	display: none;
}

.google_snippet {width:512px;padding-left:15px;border-left:1px solid #D3E1F9;margin:20px 20px;  font-family: arial,sans-serif;}
.g_title {  white-space: nowrap;
	display:block;
	width: 512px;
	color: #1e0fbe !important;
	font-size: 18px!important;
	font-weight: 400;
	text-decoration: none;
}
.g_title:hover {text-decoration: underline;}
.g_link {
	color: #006621 !important;text-decoration: none;
	font-style: normal; display:block;font-size: 13px;line-height: 16px;
}
.g_link:hover {text-decoration: underline;}
.g_desc {
	color: rgb(84, 84, 84) !important;


	font-size: 13px;
	font-weight: normal;
	height: auto;
	line-height: 18.2000007629395px;
}

