body {
	/*padding: 500px !important;*/
	/*background: #FFF !important;*/
	background-color: #E3EFFF;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,1280,645)'%3E%3Cstop offset='0' stop-color='%23E3EFFF'/%3E%3Cstop offset='1' stop-color='%239EAFC1'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

@media (min-width: 1450px) {
	.container {
		max-width: 1400px;
	}
}
/*@media (min-width: 1850px) {
	.container {
		max-width: 1750px;
	}
}*/

.before-top {
	background: url(../../img/top_bk.jpg) repeat-x;
}

@media (max-width: 768px) {


	#mainbox .in {
		overflow-x: auto;
	}
}
.r_header {
	margin-top:7px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	text-align: center;
}


.r_bar {
	display: none;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	text-align: center;
}
.r_bar_active {
	/*display: flex;
	justify-content: center;
	flex-flow:row;
	width:100%;*/
	display: block;
}

.r_grp {
	display: inline-flex;
	/*height: 86px;*/
	padding-left: 2px;
	padding-right: 9px;
	background: url(../../img/ribbonsep.jpg) top right no-repeat;
	flex:1;
}
.r_grp .rg_buttons {
	height: 70px;
}

.rb_large {
	float: left;
	height: 70px;
	text-align: center;
}

.ribbonbutton {
	cursor: pointer;
	padding: 1px;
	white-space: normal;
}
.ribbonbutton:hover {
	border: 1px solid #FFCC00;
	padding: 0px;
	background: #FFF7D9;
}
.rb_large .rbb_img {
	height: 32px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.rb_large .rbb_txt {
	font-size: 8pt;
}

.rg_buttonbox {
	float: left;
	height: 70px;
}

.rb_small {
	float: left;
	height: 16px;
	text-align: left;
	margin-top: 5px;
}
.rg_buttonbox .rb_small {
	float: none;
}
.rb_small .rbb_img {
	width: 16px;
	margin-right: 4px;
	float: left;
}
.rb_small .rbb_txt {
	font-size: 8pt;
	float: left;
	margin-right: 4px;
}

.r_grp .rg_title {
	font-size: 8pt;
	color: #9EAFC1;
	text-align: center;
}

.r_header .r_top {
	display: inline-block;
	cursor: pointer;
	border:1px solid transparent;
	margin-right: 2px;
}
.r_header .r_top:hover {
	background: url(../../img/ribbontab-hc.jpg) center left repeat-x;
	border-left:1px solid #BAC9DE;
	border-top-left-radius: 5px;
	border-right:1px solid #BAC9DE;
	border-top-right-radius: 5px;
}
.r_header .r_top.ra_top {
	background: url(../../img/ribbontab-tc.jpg) top left repeat-x;
	border-left:1px solid #BAC9DE;
	border-top-left-radius: 5px;
	border-right:1px solid #BAC9DE;
	border-top-right-radius: 5px;

}
.r_header .r_top .inner2 {
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
}
.commerce-tab {
	background: #007bff;
	color:#FFF;
	padding: .15rem .75rem;
	font-size: 12px;
	letter-spacing: 1.5px;
	cursor:pointer;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.commerce-tab:hover  {
	background: #0069d9;
}
.commerce-logout {
	background: #EE2B25;
	display:block;
	color:#FFF !important;
	font-size: 16px;
	padding: .15rem .75rem;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.commerce-logout:hover  {
	background: #ff5e59;
}
.commerce-brand {

	font-size: 16px;
	font-weight: bold;
	color: #9caed3;
	text-align: right;
	margin-right: .75rem;
	margin-top: .2rem;
}

.footer {
	margin: .75rem;
	font-size: 10px;
	color:#9caed3;
}

#leftbox .button a {
	height: auto;

}
#leftbox .textinput {
	/*width: 100% !important;*/
}
table.list td.btn {
	display: table-cell !important;
	border:none;
	border-bottom: 1px dotted #9EAFC1 !important;
	border-radius: 0;
	font-size: 12px;
}
table.list .multirow1 td.btn {
	border-bottom: none !important;
}
.rb_small .rbb_img img {
	width: 14px;
}
#iframe_psc {
	left: 1010px !important;
}

#searchform .textinput {
	width: 100%;
}
#searchform .textinput[type='checkbox'] {
	width: auto !important;
}

#leftbox .formbox, .formbox {
	/*margin:0;*/
}

.cke_skin_v2 .cke_button a, .cke_skin_v2 .cke_button a:hover, .cke_skin_v2 .cke_button a:focus, .cke_skin_v2 .cke_button a:active, .cke_skin_v2 .cke_button a.cke_off,
.cke_skin_v2 .cke_rcombo .cke_text{
	height:auto !important;
}
.cke_skin_v2 .cke_rcombo .cke_openbutton .cke_icon {
	height: 18px !important;
}



#ajax-spinner {
	visibility: hidden;
	position: fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
	padding: 3px;
	background: rgba(0,0,0,0.75);
	z-index: 123456;
	text-align: center;
	font-size: 22px;
	color:#FFF;
}
#ajax-spinner #spinner {
	margin-top: 20%;
}
#ajax-spinner img {
	width:50px;
	margin-top:20%;
	margin-bottom:15px;
}

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

.tabcontrol {
	background: #D7E3F4;
	margin-right: 10px;
	border:1px solid #9EAFC1;
}

.tabcontrol_hover {
	background: #FFF;
}
.tabcontrol_active {
	background: #0069D9;
	border:0;
}
.tabcontrol .rb {
	display: none !important;
}

.footer {
	color:#eaeaea;
}