body {
	margin: 0px;
}
#top {
	display: none;
}
#leftbox {
	display: none;
}
.noprint {
	display: none;
}

.print {
	display: block;
	font-size: 15px;
}
.total {
	font-size: 18px;
}
.total .large {
	font-size: 22px;
}
.textinput {
	border: none;
	background: none;
}
.pb {
	font-weight: bold;
}
#mainbox {
	border: none;
}
.print h1 {
	margin-top: 0px;
	text-align: right;
}
table {
	font-size: 18px !important;
}

table.list th , h3.objh3 , .bx {
	font-weight: 300;
}

table.list tr.multirow1 td {
	padding-top: 9px;
}
table.list tr.multirow2 td {
	padding-bottom: 6px;
}
table.ts {
	font-size: 9pt;
}

.pr_br {
	padding-bottom: 10px;
}

.pac {
	text-align: center;
}

.print8pt , .print8pt .variantbox .v {
	font-size: 10pt !important;
}

.print9pt , .print9pt input {
	font-size: 11pt !important;
}

.row div[class^='col-']{
	flex: 0 0 100% !important;
	max-width: 100% !important;
}
.container {
	width: 100% !important;
	max-width: none;
	padding-left: 0;
	padding-right: 0;
}