{extends "../@layout.latte"}
{block content}

<table class="list">
    <tr>
        <th>id</th>
        <th>skratka</th>
        <th>názov</th>
        <th>popis</th>
        <th>&nbsp;</th>
    </tr>

    {varType \PartnerTag $PT}
    <tr n:foreach="$list as $PT" ref="mod.partneri.tagy.php?action=edit&id={$PT->id}" class="listrow activerow">
        <td class="id">{$PT->id}</td>
        <td class="b">{$PT->skratka}</td>
        <td class="">{$PT->nazov}</td>
        <td class="comment">{$PT->popis}</td>
        <td class="btnn"><a href="mod.partneri.tagy.php?action=edit&id={$PT->id}"><img src="img/16/follow.png"></a></td>
    </tr>


</table>