{extends "../@layout.latte"}
{block content}

<form id="mainform" method="POST" action="mod.partneri.tagy.php">
    <input type="hidden" name="action" value="save">
    <input type="hidden" name="id" value="{$id}">
    <div class="in"><table class="form">
            <tr><td>{LangStr('skratka:')}</td><td>{Input('text','skratka',$PT->skratka)->width(80)|noescape}</td></tr>
            <tr><td>{LangStr('názov:')}</td><td>{Input('text','nazov',$PT->nazov)->width(400)|noescape}</td></tr>
            <tr><td>{LangStr('popis:')}</td><td>{Input('text','popis',$PT->popis)->width(400)|noescape}</td></tr>
            <tr><td>VO firmy:</td>
                <td>

                    <label n:foreach="$vyrobcovia as $Tv" style="width:33%;display:inline-block;"><input type="checkbox" name="metadata[vyrobca][]" value="{$Tv->id}" {(in_array($Tv->id,$PT->metadata["vyrobca"])?"checked":"")}> {$Tv->nazov}</label>

                    </td></tr>
            </table></div>
</form>