{extends "../@layout.latte"}
{block content}

<div class="in">
    <table class="list">
        <tr><th>Názov zoznamu</th><th></th></tr>

        <tr n:foreach="$list as $h" class="listrow"><td>{$h->nazov}</td>
            <td class="ar">
                <a href="mod.rs.files.php?action=edit&id={$h->id}"><img src="img/zoom.png"></a>
            </td></tr>

       </table></div>
</div>