{extends "../@layout.latte"}
{block content}


   <form id="edit_form" method="post" enctype="multipart/form-data"><table class="form">
            <input type="hidden" name="action" value="save">
            <input type="hidden" name="id" value="{$rr->id}">
            <tr><td>Názov</td><td>{Input("text","nazov",$rr->nazov)|noescape}</td></tr>


       </table>


        <table class="list">

            <tr class="listrow" n:foreach="$list as $r">
                <td>
                    <div><strong><a href="{$parameters["shop"]["url"].'files/'.$r->filename}">{$r->nazov}</a></strong></div>
                    <div><small>{$r->filename}, {round($r['fsize']/1024)} kB</small></div>
                </td>
                <td><a href="mod.rs.files.php?action=delete_file&container={$rr->id}&id={$r->id}"><img src="img/delete.png"></a></td>
            </tr>
        </table>


        <div class="formbox" style="margin: 10px;">
            {*<form method="GET" action="mod.rs.files.php">*}<div class="title">PRIDAŤ</div>
                <table>
                    <tr>
                        <td>Názov súboru aj s príponou</td>
                        <td>{Input("text","filename")|noescape}</td>
                    </tr>
                    <tr>
                        <td>Súbor</td>
                        <td><input type="file" name="userfile"></td>
                    </tr>
                </table>

        </div>
   </form>
