{extends "../@layout.latte"}
{block content}

<div class="formbox" style="margin: 10px;">
    <form method="POST" action="mod.redirects.php" >
        <input type="hidden" name="action" value="save">
        <input type="text" name="link" placeholder="link ktorý chcete presmerovať" style="width: 222px;">
        <input type="text" name="remap" placeholder="...presmerovať na">
        <select name="status">
            <option value="301">301 - Moved Pernamently</option>
            <option value="302">302 - Found</option>
            <option value="200">200 - OK</option>
            <option value="404">404 - Not Found</option>
        </select>
        <button type="submit">Uložiť</button>
    </form>
</div>


<table class="list">
    <tr>
        <th>link</th>
        <th>remap</th>
        <th>status code</th>
        <th></th>
    </tr>
    <tr class="listrow" n:foreach="$links as $O">
        <td>{$O->link}</td>
        <td>{$O->remap}</td>
        <td>{$O->status}</td>
        <td><a href="mod.redirects.php?action=delete&id={$O->id}"><img src="img/delete.png"></a></td>
    </tr>
</table>
{*/block}
{block leftbox}
ahoj*}