{extends "../@layout.latte"}
{block content}
<form action="mod.rs.pages.php" id="edit_form" method="post">
    <input type="hidden" name="action" value="save">

    <table class="form" style="margin:15px;">
        <tr>
            <td>Názov stránky:</td>
            <td>{Input("text","title",$p->title)->width(400)|noescape}</td>
        </tr>
        <tr>
            <td>SEO popis:</td>
            <td>{Input("textarea","desc",$p->desc)->width(400)|noescape}</td>
        </tr>
        <tr>
            <td>URL:</td>
            <td>{Input("text","url",$p->url)->width(400)|noescape}</td>
        </tr>
        <tr>
            <td>Robots:</td>
            <td>{Input("text","robots",$p->robots)->width(400)|noescape}</td>
        </tr>
        <tr>
            <td>Microdata:</td>
            <td>{Input("text","microdata",$p->microdata)->width(400)|noescape}</td>
        </tr>
        <tr>
            <td>Šablóna:</td>
            <td>{*$p->template()->nazov*}{Input("select","template", null ,$templates)|noescape}</td>
        </tr>
        <tr>
            <td>Systémová stránka:</td>
            <td>{Input("checkbox","system",$p->system)|noescape}</td>
        </tr>

    </table>
</form>