{extends "../@layout.latte"}
{block content}

<div class="row">
    <div class="col-lg-6">
        <h4 class="text-center">Systémové stránky</h4>
        <table class="list">
            <tr><th>id</th><th>Názov</th><th>Šablona</th><th>URL</th>
                <th>&nbsp;</th></tr>

            {foreach $systemPages as $p}


                {var $rowClass=array('listrow','activerow')}
                    {if $p->isMain()}
                    {php $rowClass[] = "highlightedrow"}
                {/if}

                <tr  ref="mod.rs.pages.php?action=edit&id={$p->id}" class="{implode(" ",$rowClass)}">
                    <td>{$p->id}</td>
                    <td><div><strong>{$p->title}</strong></div> <small>{$p->desc}</small></td>
                    <td width="80"><a href="mod.rs.templates.php?action=edit&id={$p->template()->id}">{$p->template()->nazov}</a></td>
                    <td width="150"><small> {$p->url}</small></td>
                    <td class="text-right" width="50"><a  href="mod.rs.pages.php?action=edit&id={$p->id}"><img src="img/16/follow.png"></a></td>
                </tr>
            {/foreach}
        </table>
    </div>
    <div class="col-lg-6">
        <h4 class="text-center">Ostatné stránky</h4>
        <table class="list">
            <tr><th>id</th><th>Názov</th><th>Šablona</th><th>URL</th>
                <th>&nbsp;</th></tr>

            {foreach $otherPages as $p}


                {var $rowClass=array('listrow','activerow')}
                {if $p->isMain()}
                    {php $rowClass[] = "highlightedrow"}
                {/if}

                <tr  ref="mod.rs.pages.php?action=edit&id={$p->id}" class="{implode(" ",$rowClass)}">
                    <td>{$p->id}</td>
                    <td><div><strong>{$p->title}</strong></div> <small>{$p->desc}</small></td>
                    <td width="80"><a href="mod.rs.templates.php?action=edit&id={$p->template()->id}">{$p->template()->nazov}</a></td>
                    <td width="150"><small> {$p->url}</small></td>
                    <td class="text-right" width="50">
                        <a  href="mod.rs.pages.php?action=edit&id={$p->id}"><img src="img/16/follow.png"></a>
                        <a  href="mod.rs.pages.php?action=delete&id={$p->id}" onclick="javascript:return confirm('Naozaj?')"><img src="img/16/delete.png"></a>
                    </td>
                </tr>
            {/foreach}
        </table>
    </div>
</div>
