{extends "../@layout.latte"}
{block content}
<form action="mod.rs.pages.php" id="edit_form" method="post"><input type="hidden" name="action" value="save"><input type="hidden" name="id" value="{$p->id}"><table class="form" style="margin:15px;">
        <tr>
            <td>Názov stránky:</td>
            <td>{Input("text","title",$p->title)->width(400)|noescape}</td>
        </tr>
        <tr>
            <td>SEO popis:</td>
            <td>{Input("textarea","desc",$p->desc)->width(400)|noescape}</td>
        </tr>
        <tr>
            <td>URL:</td>
            <td>{Input("text","url",$p->url)->width(400)|noescape}</td>
        </tr>
        <tr>
            <td>Robots:</td>
            <td>{Input("text","robots",$p->robots)->width(400)|noescape}</td>
        </tr>
        <tr>
            <td>Microdata:</td>
            <td>{Input("text","microdata",$p->microdata)->width(400)|noescape}</td>
        </tr>
        <tr>
            <td>Šablóna:</td>
            <td>{$p->template()->nazov}</td>
        </tr>
        <tr>
            <td>Systémová stránka:</td>
            <td>{Input("checkbox","system",$p->system)|noescape}</td>
        </tr>

    </table>
</form>
<div class="boxes">

    <div class="box" n:foreach="$boxes as $boxid=> $b">
        <h1>{$boxesidsToName[$boxid]}</h1>

        <table class="list">
            {foreach $b as $bb}
            {var $object = $OBJ[$bb->object]}

            <tr class="{($bb->hidden()?"listrow disabledrow":"listrow ")}"><td>
                {var $isController = $object instanceof \CommerceController || $object instanceof \CmsController}

                <div class="box-item" n:if="$isController">
                    <div class="box-item-name">{$object->adminRender( $bb )|noescape}</div>
                    <div class="box-item-desc">{$object->adminRenderInfo( $bb )|noescape}</div>
                </div>
                <div class="box-item" n:if="!$isController">
                    <div class="box-item-name">{$bb->object|noescape}</div>
                    <div class="box-item-desc">{json_encode($bb->params)|noescape}</div>
                </div>
                

                </td><td class="noclick" align="right">
                {$bb->showMove()|noescape}
                {$bb->showHide()|noescape}
                {$bb->showEdit()|noescape}
                {$bb->showDelete()|noescape}
                <div class="langs">{$bb->showLanguages()|noescape}</div>
            </td></tr>

            {/foreach}
            </table>
        <div style="margin-top:25px;text-align: right"><a href="mod.rs.pages.php?action=add_object&page_id={$p->id}&box={$boxid}"><img src="img/add_16.png">Pridať objekt</a></div>
        </div>
</div>

<style>
	.boxes {
		padding:15px;
	}
	.box {
		border:1px solid #9EAFC1;
		margin-bottom:15px;
		padding:5px;
	}
	.box h1 {
		background: #EBF4FD;
		padding:5px;;
		margin:0;
		font-size:17px;
		margin-bottom: 10px;
	}
	.box .list tr td {
		border-bottom: 1px dotted #9EAFC1;
		padding:5px 3px;
	}
	.box-item {

	}
</style>
{/block}

{block leftbox}
<div class="p-2" style="border: 1px solid #9EAFC1; background: #ffffff;">
    <h5>Systémove stránky</h5>
    <div n:foreach="$systemPages as $page" style="border-bottom:  1px solid #9EAFC1; {if $page->id == $p->id}background:#D0E6FE{/if}">
        <a class="d-inline-block" href="mod.rs.pages.php?action=edit&id={$page->id}"><strong>{$page->title}</strong></a>

            <small>{$page->url}</small>

    </div>
    <h5 class="mt-3">Ostatné stránky</h5>
    <div n:foreach="$otherPages as $page" style="border-bottom:  1px solid #9EAFC1; {if $page->id == $p->id}background:#D0E6FE{/if}">
        <a class="d-inline-block" href="mod.rs.pages.php?action=edit&id={$page->id}"><strong>{$page->title}</strong></a>

        <small>{$page->url}</small>

    </div>
</div>