{extends "../@layout.latte"}
{block content}


    <table class="list">
        <tr>
            <th>Názov textu</th>
            <th>Popis</th>
            <th></th>
        </tr>

        <tr n:foreach="$q as $h" class="listrow"><td>{$h->nazov}</td><td>{$h->popis}</td><td class="ar"><a href="mod.rs.menu.php?action=edit&id={$h->id}"><img src="img/zoom.png"></a></td></tr>

    </table>


