{extends "../@layout.latte"}
{block content}
<div class="in">
    <form id="edit_form" method="post"><table class="form">
            <input type="hidden" name="action" value="save">
            <input type="hidden" name="id" value="{$r->id}">
            <tr><td>Názov</td><td>{Input("text","nazov",$r->nazov)|noescape}</td></tr>
            <tr><td>Popis</td><td>{Input("text","popis",$r->popis)|noescape}</td></tr>

            </table>

        <table class="list"><tr><th>group</th><th>text</th><th>link</th><th>class</th><th>sub</th><th></th></tr>
            {var $i = 0}
            {foreach $data as $d}
            <tr>
                <td>{Input("text","group[]",$d["group"])->width(100)|noescape}</td>
                <td>{Input("text","text[]",$d["text"])|noescape}</td>
                <td>{Input("text","link[]",$d["link"])|noescape}</td>
                <td>{Input("text","class[]",$d["class"])->width(100)|noescape}</td>
                <td>{Input("text","sub[]",$d["sub"])->width(50)|noescape}</td>
                <td><a href="javascript:$('#new-{$i}').show();"><img src="img/16/add.png"></a></td>
            </tr>
            <tr style="display:none;" id="new-{$i}">
                <td>{Input("text","group[]")->width(100)|noescape}</td>
                <td>{Input("text","text[]")|noescape}</td>
                <td>{Input("text","link[]")|noescape}</td>
                <td>{Input("text","class[]")->width(100)|noescape}</td>
                <td>{Input("text","sub[]")->width(50)|noescape}</td>
            </tr>
            {php $i++}
            {/foreach}
            </table>
        </form>