{extends "../@layout.latte"}
{block content}
<form action="mod.rs.content.php" id="edit_form" method="post">
    <input type="hidden" name="action" value="save">

    <table class="form" style="margin:15px;">
        <tr>
            <td>Názov</td>
            <td>{Input("text","nazov",$r->nazov)->width(400)|noescape}</td>
        </tr>
        <tr>
            <td>Text</td>
            <td>{Input("textarea","content",$r->content)->width(720)->cssStyle('height:500px;')->cssClass('textinput cke')|noescape}</td>
        </tr>

    </table>
</form>