{extends "../@layout.latte"}
{block content}


<table class="list">
    <tr>
        <th>Názov textu</th>
        <th></th>
    </tr>

    <tr class="listrow" n:foreach="$q as $h">
        <td>{$h->nazov}</td>
        <td class="ar">
            <a href="mod.rs.content.php?action=edit&id={$h->id}"><img src="img/zoom.png"></a>
            <a href="mod.rs.content.php?action=delete&id={$h->id}" onclick="javascript:return confirm('Naozaj?')"><img src="img/delete.png"></a>
        </td>
    </tr>

</table></div>
