{extends "../@layout.latte"}
{block content}

<form id="edit_form" method="post">
    <table class="form">
        <input type="hidden" name="action" value="save">
        <input type="hidden" name="id" value="{$r->id}">
        <tr>
            <td>Názov</td>
            <td>{Input("text","nazov",$r->nazov)|noescape}</td>
        </tr>
        <tr>
            <td>Text</td>
            <td>{Input("textarea","content",$r->content)->width(720)->cssStyle('height:500px;')->cssClass('textinput cke')|noescape}</td>
        </tr>
    </table>
</form>
{/block}

{block leftbox}
<div class="p-2" style="border: 1px solid #9EAFC1; background: #ffffff;">
    <h5>Zoznam obsahu</h5>
    <div n:foreach="$q as $page" style="border-bottom:  1px solid #9EAFC1; {if $page->id == $r->id}background:#D0E6FE{/if}">
        <a class="d-inline-block" href="mod.rs.content.php?action=edit&id={$page->id}"><strong>{$page->nazov}</strong></a>


    </div>

</div>