{extends "../@layout.latte"}
{block content}



    <form id="edit_form" action="mod.rs.template.php" method="post" class="p-3">
        <input type="hidden" name="action" value="save_object">
        <input type="hidden" name="template_id" value="{$p->id}">
        <input type="hidden" name="box" value="{$box}">
        <div class="row">
            <div class="col-4" n:foreach="$vals as $k=>$val">
                <label>{Input('checklist',"object[]", $k)|noescape} {$val|noescape}</label>
            </div>
        </div>

    </form>