{extends "../@layout.latte"}
{block content}

<form id="edit_form" method="post">
    <input type="hidden" name="action" value="save_box">
    <input type="hidden" name="id" value="{$r->id}">
    <input type="hidden" name="ident" value="{$r->ident}">
    <table class="form">
        <tr>
            <td>Názov</td>
            <td>{Input("text","nazov",$r->nazov)|noescape}</td>
        </tr>
        <tr>
            <td>Textový identifikátor</td>
            <td>{Input("text","ident_text",$r->ident_text)|noescape}</td>
        </tr>

        <tr>
            <td>BoxID - pre variabilné boxy</td>
            <td>{Input("text","boxid",$r->boxid)|noescape}</td>
        </tr>


    </table>
</form>