{extends "../@layout.latte"}
{block content}

<form id="edit_form" method="post">
    <input type="hidden" name="action" value="{$action}">
    <input type="hidden" name="id" value="{$p->id}">
    <table class="form">

        {foreach $c->objParams() as $param}
        <tr n:if="$param['type'] == 'SEL'">
            {var $type = (is_string(reset($param['vals'])) || $param["vals"] === []) ? 'select' : 'selectg'}
            <td>{$param["title"]}</td>
            <td>{Input($type,"data[".$param["id"]."]",$p->params[$param["id"]],$param["vals"])|noescape}</td>
        </tr>


        <tr n:if="$param['type'] == 'RAW'">
            {var $val = htmlspecialchars($p->params[$param["id"]])}
            <td>{$param["title"]}</td>
            <td>{Input((strlen($val) > 100?"textarea":"text"),"data[".$param["id"]."]",$val)->width(500)|noescape}</td>
        </tr>


        <tr n:if="$param['type'] == 'BOOL'">
            {var $val = (int)$p->params[$param["id"]]}
            <td>{$param["title"]}</td>
            <td><input type="checkbox" value="1" name="data[{$param["id"]}]" {($val?"checked":"")}></td>
        </tr>

        {/foreach}

        </table>
</form>