<form action="mod.rs.template.php" id="edit_form" method="post">
    <input type="hidden" name="action" value="save">
    <input type="hidden" name="id" value="{$p->id}">
    <table class="form" style="margin:15px;">
        <tr>
            <td>Názov:</td>
            <td>{$p->nazov}</td>
        </tr>
        <tr>
            <td>Popis:</td>
            <td>{$p->popis}</td>
        </tr>
        <tr>
            <td>Šablóna:</td>
            <td>{$p->src}</td>
        </tr>


    </table>
</form>

<div class="boxes">
    <div class="box" id="box_{$boxid}" n:foreach="$boxes as $boxid=> $b">
        <h1><a href="mod.rs.template.php?action=edit_box&boxid={$boxid}"><img src="img/16/edit.png"></a> #{$boxid} | {$boxesidsToName[$boxid]} {(($identName = array_search($boxid, $boxesIdentToName)) !== false ? "<small>{box $identName}</small>":'')|noescape}</h1>
        <table class="list">
            {foreach $b as $bb}
                {var $object = $bb->object ? $OBJ[$bb->object] : new \stdClass}
                {var $isController = $object instanceof \CommerceController || $object instanceof \CmsController}
                {var $isEmpty = !$isController && $object instanceof \stdClass}
                <tr n:if="!$isEmpty" id="box_content_{$bb->id}" class="{($bb->hidden()?"listrow disabledrow":"listrow ")}">
                    <td>
                        <div class="box-item" n:if="$isController">
                            <div class="box-item-name">{$object->adminRender( $bb )|noescape}</div>
                            <div class="box-item-desc">{$object->adminRenderInfo( $bb )|noescape}</div>
                        </div>

                        <div class="box-item" n:if="!$isController">
                            <div class="box-item-name">{$bb->object|noescape}</div>
                            <div class="box-item-desc">{json_encode($bb->params)|noescape}</div>
                        </div>
                    </td>
                    <td class="noclick" align="right">
                        {$bb->showMove()|noescape}
                        {$bb->showHide()|noescape}
                        {$bb->showEdit()|noescape}
                        {$bb->showDelete()|noescape}
                        <div class="langs">{$bb->showLanguages()|noescape}</div>
                    </td>
                </tr>
            {/foreach}

        </table>
        <div style="margin-top:25px;text-align: right"><a href="mod.rs.template.php?action=add_object&template_id={$p->id}&box={$boxid}"><img src="img/add_16.png">Pridať objekt</a></div>
    </div>
</div>

<style>
	.boxes {
		padding:15px;
	}
	.box {
		border:1px solid #9EAFC1;
		margin-bottom:15px;
		padding:5px;
	}
	.box h1 {
		background: #EBF4FD;
		padding:5px;;
		margin:0;
		font-size:17px;
		margin-bottom: 10px;
	}
	.box .list tr td {
		border-bottom: 1px dotted #9EAFC1;
		padding:5px 3px;
	}
	.box-item {

	}
	.box .langs {
		font-size:10px;
	}
</style>