{extends "../@layout.latte"}
{block content}

<div style="text-align: center; color:red;margin-bottom: 1.5rem;">
    <h4>Chýbajúce PSČ</h4>
    <div n:foreach="$missing as $m" style="padding:3px ">
        {$m} <a href="mod.psc.php?action=add&psc={$m}"><img src="img/add_16.png"></a>
    </div>
</div>


<div style="text-align: center">
    <h4>Nájdene PSČ</h4>
</div>
<table class="list">
    <tr>
        <th>PSČ</th>
        <th>názov</th>
        <th>alternatívny názov</th>
        <th></th>
    </tr>

    <tr class="listrow" n:foreach="$zips as $zip">
        {varType Kubomikita\Commerce\Model\PscUlicaModel $zip}
        <td>{$zip->psc}</td>
        <td>{$zip->nazov ?? '-- nevyplnený --'}</td>
        <td>{$zip->format_nazov(true)}</td>
        <td class="ar"><a href="mod.psc.php?action=edit&psc={$zip->psc}"><img src="img/zoom.png"></a></td>
    </tr>
</table>