{extends "../@layout.latte"}
{block content}

    <form id="edit_form" method="post">
        <table class="form" width="100%">
            <input type="hidden" name="action" value="save">
            <tr>
                <td>PSČ</td>
                <td>
            <input type="text" readonly class="textinput" name="psc" value="{$psc}">
                </td>
            </tr>
            <tr>
                <td>Názov</td>
                <td>{Input("text","nazov",$nazov)->width("250px")|noescape}</td>
            </tr>

        </table>
    </form>
{/block}
