{extends "../@layout.latte"}
{block content}

{*control winnersForm*}


<div class="in">
    <table class="list">
        <thead>
        <tr>
            <th>Dátum žrebovania / žrebovanie</th>
            <th>Typ výhry</th>
            <th>Názov výhry</th>
            <th>Počet kupónov</th>
            <th>Výherca</th>
            <th>Zob.</th>
            <th>Mail.</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {varType \SutazVyhercoviaModel $v}
        <tr class="listrow {if $v->show}highlightedrow{/if} {*activerow highlightedrow listrow_std*}" n:foreach="$vyhercovia as $v">
            <td>
                {$v->date|date:"d.m.Y"}
                <div style="font-size: 10px;">{$v->date_draw|date("d.m.Y H:i:s")}</div>
            </td>
            <td>{\SutazVyhercoviaModel::TYPES[$v->type]}</td>
            <td title="{$v->nazov}">{$v->nazov|truncate:30}</td>
            <td>
                {var $countCupons = $v->getCupons()->count("id")}
                <span style="color:red;" n:tag-if="$countCupons === 0"><strong>{$countCupons}</strong></span>
            </td>
            <td>
                {if ($sutaz = $v->sutaz()) !== null}
                {*php dump($v->sutaz())*}
                    <div class="font-size:12px;">
                        Kód: <strong>{$sutaz->kod}</strong> | Dátum registrácie: {$sutaz->datetime_registered|date:"d.m.Y H:i:s"} <br>
                        {$sutaz->meno} {$sutaz->priezvisko} | {$sutaz->email} | {$sutaz->telefon}
                    </div>
                {/if}
            </td>
            <td>
                <img src="img/16/{if $v->show}bool_1.png{else}bool_0.png{/if}">
            </td>
            <td>
                <img src="img/16/{if $v->email}bool_1.png{else}bool_0.png{/if}">
            </td>
            <td class="ar">
                <a href="mod.sutaz.php?action=email&id={$v->id}" n:if="!$v->email && $v->sutaz !== null && $v->type == 'daily'"><img src="img/16/mail.png" alt="Odoslať e-mail" title="Odoslať e-mail"></a>
                <a href="mod.sutaz.php?action=show&id={$v->id}" n:if="$v->show && !$v->email"><img src="img/icon_show_hide.gif" width="16" alt="Nezobraziť" title="Nezobraziť"></a>
                <a href="mod.sutaz.php?action=show&id={$v->id}" n:if="!$v->show && $v->sutaz !== null"><img src="img/icon_show_all.gif" width="16" alt="Zobraziť v tabuľke výhercov" title="Zobraziť v tabuľke výhercov"></a>
                <a href="mod.sutaz.php?action=draw&id={$v->id}" n:if="!$v->show && $v->sutaz === null"><img src="img/16/edit.png"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

