{extends "../@layout.latte"}
{block content}




<div class="in">
    <h5>{$v->date|date:"d.m.Y"} | {$v->nazov}</h5>
    {inputError winnersform}
    {form winnersform}
        <div class="form-group">
            {label date_draw}
            {input date_draw}
        </div>
        <div class="form-group">
            <div class="d-flex">
                <div>{label sutaz}</div>
                <div class="ml-3"><a href="javascript:;" onclick="javascript:shuffle({$form["sutaz"]->getHtmlId()})" style="color:green;font-weight: bold">Vyžrebovať</a></div>
            </div>
            {input sutaz}
        </div>
        <div class="form-group">
             <div class="form-check">
                {input show}{label show}
             </div>
        </div>
        {input save}
    {/form}
    {*control winnersForm*}
</div>

<script>
    function shuffle(selectId){
        var select = document.getElementById(selectId);
	    var items = select.getElementsByTagName('option');

		var min = 1;
		var max = items.length;


	    var index = Math.floor(Math.random() * (max - min) + min);
	    select.selectedIndex = index;
		console.log(select,index, items);
    }
</script>