{\Content::htmlPlainHeader()|noescape}
<style>
	.loader{
		text-align: center;
		position: absolute;;
		left:0;
		right:0;
		top:15px;
	}
	.lds-ring {
		display: inline-block;
		position: relative;
		width: 40px;
		height: 40px;
	}
	.lds-ring div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 32px;
		height: 32px;
		margin: 8px;
		border: 4px solid #0099FF;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: #0099FF transparent transparent transparent;
	}
	.lds-ring div:nth-child(1) {
		animation-delay: -0.45s;
	}
	.lds-ring div:nth-child(2) {
		animation-delay: -0.3s;
	}
	.lds-ring div:nth-child(3) {
		animation-delay: -0.15s;
	}
	@keyframes lds-ring {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

    .fancybox-content {
        padding:.5rem;
    }
	.fancybox-slide--html .fancybox-close-small {
		padding: 13px;
		padding-top: 5px;
    }

</style>
<div class="foldertitle">{$FOLDER->nazov}</div>

<div n:if="$FOLDER->parentId > 0" class="ibox" href="imgsel.php?folder={$FOLDER->parentId}">
    <div class="icon"><img src="img/arrow_up_32.png"></div>
    <div class="title">..</div>
</div>


<div class="ibox" href="imgsel.php?folder={$F->id}" n:foreach="$FOLDER->listFolders() as $F">
    <div class="buttons">
        <a class="folder_rename" f_id="{$F->id}" f_name="{$F->nazov}" title="premenovať"><img src="img/folder_edit.png"></a>
        <a n:if="!$F->size()" href="imgsel.php?a=del&folder={$F->id}" title="zmazať" onclick="return confirm('Naozaj?');"><img src="img/delete.png"></a>
    </div>
    <div class="icon"><img src="img/folder_32.png"></div>
    <div class="title">{$F->nazov}</div>
</div>



<div class="ibox" id="btn_newfolder">
    <div class="icon"><img src="img/folder_add_32.png"></div>
    <div class="title">(nový priečinok)</div>
</div>

<div class="ibox" id="btn_upload">
    <div class="icon"><img src="img/add_32.png"></div>
    <div class="title">(nahrať obr.)</div>
</div>



<div class="ibox" n:foreach="$FOLDER->listImages() as $I">

    <div class="image">
        <div class="loader">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <img data-src="img.php?class=img&resize=3&sx=200&sy=200&color=ffffff&id={$I->id}" class="lazy"
             onclick="returnlink({$I->url()});"></div>
    <div class="buttons"><a href="imgsel.php?a=imgdel&id={$I->id}" title="zmazať" onclick="return confirm('Naozaj?');"><img src="img/delete.png"></a></div>
    <div class="buttons2"><a title="{$I->filename}" href="{$I->resizedUrl('max','500','250')}" rel="lightbox"><img
                    src="img/zoom.png"></a></div>
</div>


<div style="display: none;">
    <div id="form_newfolder">
        <form method="GET" action="imgsel.php">
            <input type="hidden" name="a" value="newfolder"><input type="hidden" name="folder"
                                                                   value="{$FOLDER->id}">
            <div class="dialogtitle">Nový priečinok</div>
            názov: <input type="text" name="nazov" value="" size="30">
            <input type="submit" value="vytvoriť">
        </form>
    </div>
</div>

<div style="display: none;">
    <div id="form_renamefolder">
        <form method="GET" action="imgsel.php">
            <input type="hidden" name="a" value="renamefolder"><input type="hidden" name="folder" value="">
            <div class="dialogtitle">Premenovať priečinok</div>
            názov: <input type="text" name="nazov" value="" size="30">
            <input type="submit" value="premenovať">
        </form>
    </div>
</div>

<div style="display: none;">
    <div id="form_upload">
        <form method="post" enctype="multipart/form-data" accept="image/jpeg" action="imgsel.php"
              style="padding-bottom:50px">
            <input type="hidden" name="MAX_FILE_SIZE" value="2048000">
            <input type="hidden" name="a" value="upload"><input type="hidden" name="folder"
                                                                value="{$FOLDER->id}">
            <div class="dialogtitle">Nahrať obrázok</div>
            súbor (max. veľkost 2MB): <input name="imagefile" type="file" id="imagefile">
            <input type="submit" value="nahrať">
        </form>
    </div>
</div>


<script type="text/javascript">
	$(".ibox").each(function(){
		$(this).children(".icon , .title , .image").mouseover(function(){ $(this).parent(".ibox").addClass('ibox_hover'); });
		$(this).children(".icon , .title , .image").mouseout(function(){ $(this).parent(".ibox").removeClass('ibox_hover'); });
		if($(this).attr('href')){
			$(this).children(".icon , .title , .image").click(function(){ location.href=$(this).parent(".ibox").attr('href'); });
		};
	});

	$(document).ready(function (){
		fancyboxDefaults.height=100;
		$("#btn_newfolder").click(function(){
			//$.fancybox($("#form_newfolder"),fancyboxDefaults);
            $.fancybox.open({ src: "#form_newfolder", type: "inline"});
		});
		$("#btn_upload").click(function(){
			//$.fancybox($("#form_upload"),fancyboxDefaults);
			$.fancybox.open({ src: "#form_upload", type: "inline"});
		});
		$("a.folder_rename").click(function(){
			$("#form_renamefolder input[name=folder]").val($(this).attr('f_id'));
			$("#form_renamefolder input[name=nazov]").val($(this).attr('f_name'));
			$.fancybox.open({ src: "#form_renamefolder", type: "inline"});
		});
	});
	function returnlink(lnk){
		var URL=lnk;

		window.opener.CKEDITOR.tools.callFunction( {$_SESSION['cksel']['CKEditorFuncNum']}, URL );
		window.close();

	}
	document.addEventListener("DOMContentLoaded", function() {
		let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
		let active = false;

		const lazyLoad = function() {
			if (active === false) {
				active = true;

				setTimeout(function() {
					lazyImages.forEach(function(lazyImage) {
						if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none") {
							lazyImage.src = lazyImage.dataset.src;
							//lazyImage.srcset = lazyImage.dataset.srcset;
							lazyImage.classList.remove("lazy");
							lazyImage.onload = function (){
								lazyImage.previousElementSibling.style.display = 'none'
							};


							lazyImages = lazyImages.filter(function(image) {
								return image !== lazyImage;
							});

							if (lazyImages.length === 0) {
								document.removeEventListener("scroll", lazyLoad);
								window.removeEventListener("resize", lazyLoad);
								window.removeEventListener("orientationchange", lazyLoad);
								window.removeEventListener("load", lazyLoad);
							}
						}
					});

					active = false;
				}, 200);
			}
		};

		document.addEventListener("scroll", lazyLoad);
		window.addEventListener("resize", lazyLoad);
		window.addEventListener("orientationchange", lazyLoad);
		window.addEventListener("load",lazyLoad);
	});

	{ifset $return}
	    window.opener.CKEDITOR.tools.callFunction( {$_SESSION['cksel']['CKEditorFuncNum']}, {$return->url()} ); window.close();
	{/ifset}
</script>


{\Content::htmlPlainFooter()|noescape}